:root {
  --main-title-color: #192a32;
  --hero-title-color: #ffffff;
  --main-text-color: #192a32;
  --main-background-color: #ffffff;
  --header-links-text-color: #fcfcfc;
  --header-links-backgroun-color: #1a3769;
  --sidebar-links-color: #7c7c7c;
  --sidebar-links-hover-color: #192a32;
  --main-text-size: 16px;
  --main-text-weight: 400;
  --main-text-lineHeight: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0;
  line-height: var(--main-text-lineHeight);
  padding: 0;
  margin: 0;
  background: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(0, 185, 222, 1),
    rgba(0, 133, 194, 1),
    rgba(0, 104, 154, 0.39),
    rgba(0, 83, 123, 0)
  );
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--main-title-color);
}

.text {
  font-weight: var(--main-text-weight);
  font-size: var(--main-text-size);
  color: var(--main-text-color);
}

.content {
  /* max vith - 1240 */
  /* with - auto */
  max-width: 1240px;
  width: auto;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 20px;
  background-color: var(--main-background-color);
  border-radius: 6px;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1240px;
  /* max- with */
  margin: 0 auto;
}

.logo:hover {
  scale: 1.1;
}

.image > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.button {
  /* >inline-block */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  height: 48px;
  max-width: fit-content;
  /* min-  with : auto */
  border: none;
  border-radius: 16px;
  background-color: #ec622b;
  text-decoration: none;
  color: var(--header-links-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  /* line height in pixels */
}

.button:hover {
  cursor: pointer;
  scale: 1.1;
}
/* ///////header/////// */

.header {
  background-color: #192a32;
}

.header__content {
  width: 1240px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  background-color: inherit;
  overflow: visible;
}

.header__logo {
  margin-right: 28px;
}

.header__logo > img {
  max-width: 120px;
  max-height: 55px;
}

.menu > ul {
  display: flex;
  align-items: center;
}

.menu a {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 16px;
  background-color: var(--header-links-backgroun-color);
  text-decoration: none;
  color: var(--header-links-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
}

/* стили чезе меню не хедер меню */
.menu a:hover {
  scale: 1.1;
}
/* ul>li */
.menu > ul > li + li {
  margin-left: 21px;
}

.menu img {
  /* not image div */
  /* max with : ..... */
  max-width: 24px;
  max-height: 24px;
  margin-right: 10px;
}

.header__lenguage {
  margin-left: auto;
}

.header-language__button {
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--header-links-backgroun-color);
}

.header-language__button::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/png/Arrow-Down.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 4px;
}

.header-language__button > img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 10px;
}

.header__button-signup {
  margin-right: 0;
  margin-left: 16px;
}

.header__button-login {
  float: right;
  order: 999;
  margin-left: 16px;
}

.green {
  background-color: #0fa810;
}

/* /////sidebar////// */

.sidebar {
  width: 295px;
  margin-left: 20px;
}

.sidebar__content {
  padding: 0;
  background-color: transparent;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #192a32;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.sidebar__content div:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar__button {
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  border-radius: 60px;
  font-weight: var(--main-text-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-text-lineHeight);
}

.sidebar__button div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 13px;
  background-color: #fcfcfc;
}

.sidebar__button > div > img {
  max-width: 20px;
  max-height: 20px;
}

.sidebar__button > img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 13px;
}

.sidebar__menu {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--main-background-color);
}

.sidebar__menu > ul {
  flex-direction: column;
  padding: 0;
}

.sidebar__menu > ul > li + li {
  margin-top: 4px;
  margin-left: 0;
}

.sidebar__menu > ul > li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.sidebar__menu li:hover {
  background-color: var(--sidebar-links-hover-color);
  cursor: pointer;
}
.sidebar__menu li:hover a {
  color: #fcfcfc;
}

.sidebar__menu a {
  height: auto;
  padding: 0;
  border-radius: 0px;
  background-color: transparent;
  font-weight: var(--main-text-weight);
  line-height: var(--main-text-lineHeight);
  color: var(--sidebar-links-color);
  pointer-events: none;
}

.sidebar__menu img {
  margin-right: 12px;
}

.sidebar__title {
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 600;
}

.sidebar__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -15px;
  margin-bottom: -15px;
  background-color: var(--main-background-color);
}

.sidebar__list li {
  position: relative;
  width: calc((100% / 2 -15px));
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  overflow: hidden;
}

.sidebar__list li:hover .sidebar__hide-menu {
  cursor: pointer;
  transform: translateY(0);
}

.sidebar__hide-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #1a3769cc;
}

.sidebar__hide-menu:not(:last-child) {
  margin-top: 3px;
}

.sidebar__hide-menu span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fcfcfc;
}

.sidebar__hide-menu span:first-child {
  padding-top: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.sidebar__hide-menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  color: #2cb154;
}

.sidebar__hide-menu a:hover {
  scale: 1.1;
}

.sidebar__hide-menu a:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 79px;
  height: 30px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.28;
  color: #fcfcfc;
}

/* ////////app//////// */

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.app > .article > p {
  margin-bottom: 0;
}

.app__button {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 40px;
  width: 100%;
  background-color: #1a3769;
  line-height: 1.2;
}

.app__button img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 7px;
}

/* ///////hero/////// */

.hero {
  position: relative;
  height: 384px;
  padding-top: 41px;
}

.hero div:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.hero div:first-child > img {
  max-width: 925px;
  max-height: 384px;
}

.hero div:nth-child(2) {
  position: absolute;
  left: 595px;
  top: 0;
}

.hero div:nth-child(2) > img {
  max-width: 284px;
  max-height: 384px;
}

.hero__rating {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.hero__rating > span {
  margin-right: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--hero-title-color);
}

.hero__title {
  position: relative;
  color: var(--hero-title-color);
  width: 538px;
  margin-bottom: 16px;
}

.hero__button {
  position: relative;
  justify-content: center;
  min-width: 214px;
  padding: 0;
  border: 1px solid#ffffff;
  margin-bottom: 10px;
}

.hero__text {
  position: relative;
  font-size: 6px;
  color: var(--hero-title-color);
  margin-left: 58px;
}

/* ////////services//////// */

.services__list {
  display: flex;
  list-style: none;
}

.services__list li {
  position: relative;
  width: calc((100% / 9));
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f6f6f6;
  border-radius: 6px;
  border-right: 1px solid #104c5433;
}

.services__list li:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 1px 12px 0px #0a626a26;
}

.services__list li:hover::before {
  position: absolute;
  top: 0px;
  content: "";
  width: 98px;
  height: 8px;
  background-color: green;
  border-radius: 6px;
}

.services__list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  text-decoration: none;
  color: var(--main-text-color);
  height: 100%;
}

.services__list img {
  max-width: 32px;
  max-height: 32px;
  margin-bottom: 10px;
}

.services__list span {
  margin-bottom: 5px;
}

/* ///////bonus///// */

.bonus {
  position: relative;
  height: 384px;
  padding-top: 90px;
}

.bonus div:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.bonus div:first-child > img {
  max-width: 925px;
  max-height: 384px;
}

.bonus div:nth-child(2) {
  position: absolute;
  top: 27px;
  left: 572px;
}

.bonus div:nth-child(2) > img {
  max-width: 353px;
  max-height: 329px;
}

.bonus__title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 494px;
}

.bonus__title span {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 32px;
}

.bonus__button {
  position: relative;
  border: 1px solid #ffffff;
}

/* /////profit///// */

.profit__title {
  font-size: 48px;
  margin-bottom: 16px;
}

.profit > .article > * {
  margin-bottom: 0;
}

/* /////evalueations////// */

.evaluations__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #80bef8;
  border-radius: 6px;
}

.evaluations__list > li + li {
  margin-top: 10px;
}

.evaluations-item__option {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.evaluations-item__value {
  display: flex;
  align-items: center;
}

.evaluations-item__value .image {
  display: flex;
}

.evaluations-item__value .image > img + img {
  margin-left: 8px;
}

.evaluations-item__value .image > img {
  max-width: 32px;
  max-height: 31px;
}

.evaluations-option__text {
  font-size: 14px;
  color: #ffffff;
  margin-left: 8px;
}

/* ///////facts/////// */

.facts__title {
  display: inline-block;
  border-bottom: 1px solid #77777780;
  margin-bottom: 18px;
  width: auto;
}

.facts > table tr {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #77777780;
}

.facts > table tr + tr {
  margin-top: 8px;
}

.facts > table td:first-child {
  width: 24px;
  height: 28px;
  margin-right: 8px;
}

.facts > table td:nth-child(2) {
  min-width: 179px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 26px;
}

.facts > table td:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.facts > table td img {
  max-width: 24px;
  max-height: 28px;
}

/* .facts__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #77777780;
}

.facts__list li:not(:last-child) {
  margin-bottom: 8px;
}

.facts-item__option {
  display: flex;
  align-items: center;
}

.facts-item__option .image {
  margin-right: 8px;
}

.facts-option__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.facts-item__value {
  width: 587px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
} */

/* ///////article///// */

.article h3 {
  /* ,посмотреть пример хедингов в примере */
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--main-title-color);
  margin-bottom: 24px;
  margin-top: 60px;
}

.article ul {
  margin-top: 32px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.article li {
  position: relative;
  display: flex;
  margin-bottom: 32px;
}

.article li {
  padding-left: 30px;
}

.article li:nth-child(1)::before {
  position: absolute;
  left: 8px;
  top: 4px;
  content: "-";
  line-height: 1;
}

.article li:nth-child(2)::before {
  position: absolute;
  left: 8px;
  top: 4px;
  content: "-";
  line-height: 1;
}

.article li:nth-child(3)::before {
  position: absolute;
  left: 8px;
  top: 4px;
  content: "-";
  line-height: 1;
}

.article li:nth-child(4)::before {
  position: absolute;
  left: 10px;
  top: 4px;
  content: "1";
  margin-right: 8px;
  color: #2e9344;
  line-height: 1;
}

.article li:nth-child(5)::before {
  position: absolute;
  left: 10px;
  top: 4px;
  content: "2";
  margin-right: 8px;
  color: #2e9344;
  line-height: 1;
}

.article li:nth-child(6)::before {
  position: absolute;
  left: 10px;
  top: 4px;
  content: "3";
  margin-right: 8px;
  color: #2e9344;
  line-height: 1;
}

.article > p {
  margin-bottom: 20px;
}

.article * {
  font-weight: var(--main-text-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-text-lineHeight);
  color: var(--main-text-color);
}

.article__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
}

.article__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  color: #ffffff;
}

/* ///////reviews//////// */

.reviews__content {
  padding-top: 14px;
}

.reviews__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.reviews-header__buttons {
  display: flex;
}

.reviews-header__button:not(:last-child) {
  margin-right: 17px;
}

.reviews-header__button {
  padding: 0;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e2eaf7;
  background-image: url(../img/png/arrow_left.png);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  box-shadow: 0px 4px 4px 0 #00000040;
}

.right {
  background-image: url(../img/png/arrow_right.png);
}

.reviews__list {
  display: flex;
  align-items: center;
}

.reviews__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  border-radius: 6px;
  background-color: #e2eaf7;
}

.reviews__list li:not(:last-child) {
  margin-right: 20px;
}

.reviews__list li > .image {
  min-width: 109px;
  margin-right: 31px;
}

.reviews-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.reviews-item__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.reviews-item__rating {
  display: flex;
  align-items: center;
}

.reviews-item__rating .image {
  height: 16px;
  width: 16px;
  margin-right: 6px;
}

.reviews-item__rating span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--main-text-color);
}

/* ///////suppotr/////// */

.support {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 648px;
}

.support > .image {
  position: absolute;
  top: 0;
  left: 0;
}

.support__title {
  position: relative;
  font-size: 48px;
  margin-bottom: 24px;
}

.support .article * {
  position: relative;
  margin: 0;
}

.support__links {
  position: relative;
  display: flex;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 35px;
}

.support__links li + li {
  margin-left: 16px;
}

.support-links__button {
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  color: #192a32;
}

.outline {
  border: 1px solid #192a32;
  background-color: transparent;
}

.support-links__button > img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 9px;
}

.support > table {
  position: relative;
  width: 100%;
}

.support > table tr {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #192a32;
}

.support > table tr + tr {
  margin-top: 16px;
}

.support > table td:first-child {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.support > table td:nth-child(2) {
  min-width: 212px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 26px;
}

.support > table td:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.support  table  tr:first-child td:last-child a {
  color: #2e9344;
}

.support  table  tr:nth-child(2) td:last-child a  {
  color: #2e9344;
  text-decoration: underline ;
}

.support  table  tr:last-child td:last-child a  {
  font-weight: 600;
  color: #2e9344;
} 

.support > table td img {
  max-width: 24px;
  max-height: 24px;
}

/* .support__list{
  position: relative;
}

.support__list li {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #191919;
}

.support__list li:not(:last-child) {
  margin-bottom: 16px;
}

.support-item__option {
  display: flex;
  align-items: center;
  width: 252px;
  margin-right: 26px;
  font-family: var(--main-text-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-text-lineHeight);
  color: var(--main-text-color);
}

.support-item__option .image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.support-item__value {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e9344;
  text-decoration: none;
}

.support-item__value:hover {
  scale: 1.1;
}

.bold {
  font-weight: 600;
} */

/* /////fac////// */

.faq__title {
  font-size: 48px;
  margin-bottom: 32px;
}

.faq__list{
  list-style: none;
}

.faq__list li{
  position: relative;
}

.faq__list li + li {
  margin-top: 16px;
}

.faq__list li .article p{
  margin: 0;
  padding: 16px 12px;
  background-color: #dfe8f6;
    border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.faq-item__title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  border: 1px solid #77777780;
}

.faq-item__title:hover{
  cursor: pointer;
  scale: 1.01;
}



.faq__list li::before {
  position: absolute;
  right: 20px;
  top: 20px;
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url(../img/png/Arrow-Up.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.faq__list li:last-child:before {
  position: absolute;
  right: 20px;
  top: 20px;
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url(../img/png/Arrow_down2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* //////footer////// */

.footer__content {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer__description {
  display: flex;
  justify-content: space-between;
}

.footer__description .image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 85px;
  height: 85px;
  margin-left: 18px;
  border: 1px solid #192a32;
  border-radius: 50%;
}

.footer-description__text {
  margin-bottom: 36px;
}

.footer .article  {
  margin-bottom: 36px;
}

.footer .article p{
  margin: 0;
}

.footer-description__image >img{
  max-width:46px ;
  max-height: 21px;
}

.footer__copyright {
  font-family: var(--main-text-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-text-lineHeight);
  color: var(--main-text-color);
  margin-bottom: 26px;
}

.footer__logos {
  display: flex;
  justify-content: space-between;
}

.small .image img{
  max-width: 151px;
  max-height: 55px;
}


.large .image img{
  max-width: 253px;
  max-height: 54px;
}